node_modules/
dist/
lib/
svg/
index.js
!docs/src/index.js
npm-debug.log

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
